<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-wrap">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/images/logo2.jpg" alt="" width="30" height="35" class="d-inline-block align-text-top">
            TIENDA MAQUINARIA PESADA - RONALD JOSE ESCOBAR CHAVEZ
          </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VIDEOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACTOS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              NOTICIAS
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">TUTORIALES</a></li>
              <li><a class="dropdown-item" href="#">DOCUMENTALES</a></li>
              <li><a class="dropdown-item" href="#">ACCION</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  