<footer class="bg-dark text-light pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Acerca de Nosotros</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Quiénes somos</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Nuestra historia</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Misión y Visión</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Déjanos ayudarte</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Soporte</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Preguntas Frecuentes</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Haz Dinero</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Programa de afiliados</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Ofertas de trabajo</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Vende con nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contactos</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:info&#64;tuempresa.com" class="text-light text-decoration-none">Email: info&#64;tuempresa.com</a></li>
                    <li><a href="tel:+1234567890" class="text-light text-decoration-none">Teléfono: +123 456 7890</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Dirección: Calle Falsa 123</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4 bg-light">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center text-md-start">© 2024 Derechos Reservados - RONALD JOSE ESCOBAR CHAVEZ</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-light text-decoration-none mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="text-light text-decoration-none mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="text-light text-decoration-none mx-2">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="text-light text-decoration-none mx-2">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>